services:
  app:
    build:
      context: .
      dockerfile: FunkoApi/Dockerfile
      target: final
    volumes:
      - ./FunkoApi/wwwroot:/app/wwwroot
    restart: always
    env_file: .env
    environment: 
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=${POSTGRES_DATABASE};Username=${DATABASE_USER};Password=${DATABASE_PASSWORD}
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
    depends_on:
      - redis
      - postgres
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 5s      # Revisar rápido al principio
      timeout: 5s
      retries: 10       # Dar 10 intentos
      start_period: 10s
    ports:
      - "8080:8080"
    networks:
      - webnet

  redis:
    image: redis:7-alpine
    restart: always
    env_file: .env
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - webnet
    # PostgresSQL
  postgres:
    image: postgres:12-alpine
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - webnet
    # 1. El ejecutor de tests
  bruno-tester:
    image: node:alpine
    volumes:
      - ./TestBruno:/tests
      - reports-data:/reports # Volumen compartido
    depends_on:
      - app
    entrypoint: >
      sh -c "
        echo 'Instalando Bruno CLI...' &&
        npm install -g @usebruno/cli --silent &&
        echo 'Esperando margen de seguridad...' &&
        sleep 10 &&
        echo 'Iniciando tests en /tests...' &&
        ls &&
        cd tests &&
        bru run --env local  --reporter-html /reports/index.html"
    networks:
      - webnet

    # 2. El servidor que muestra el reporte
  reports-web:
    image: nginx:alpine
    ports:
      - "8060:80" 
    volumes:
      - reports-data:/usr/share/nginx/html:ro
    depends_on:
      - bruno-tester
    networks:
      - webnet
  report-test:
    image: nginx:alpine
    ports:
      - "8061:80"
    volumes:
      - ./TestFunko/html:/usr/share/nginx/html:ro
    networks:
      - webnet
networks:
  webnet:
    driver: bridge
volumes:
  redis-data:
  postgres-data:
  reports-data: